NODE_ENV=production
PORT=3000
MONGODB_URI=mongodb+srv://USER:PASSWORD@CLUSTER.mongodb.net/?retryWrites=true&w=majority
DB_NAME=car_market
COLLECTION_CARS=cars
COLLECTION_USERS=users
COLLECTION_CHAT_ROOMS=chat_rooms
COLLECTION_MESSAGES=messages
CLIENT_URL=http://localhost:5173
